ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cardWrapper {
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 24px;
  width: 659px;
}

.infoBlock {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4px;
}

.additionalInfoBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.actionButons {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.mainInfo {
  font-size: 16px;
}

.additionalInfo {
  font-size: 14px;
  color: #878787;
}

.vacancyName {
  font-size: 20px;
}

.workFormats {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 4px;
}

.workFormatBadge {
  font-size: 9px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 2px;
}

.customButton {
  font-weight: 400 !important;
}

.customLink {
  font-size: 14px;
  color: #0f0f10;
  background-color: #cfcfcf;
  padding: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  border-radius: 4px;

  &:hover {
    background-color: #b7b7b7;
  }
}

.customLinkDetails {
  font-size: 14px;
  color: #ffffff;
  background-color: #0f0f10;
  padding: 18px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-decoration: none;
  border-radius: 4px;

  &:hover {
    background-color: #3f3f40;
  }
}
